.main {
	height: 73vh;
	background-color: #30303000;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 130px 20px 20px 20px;
	letter-spacing: 0.1rem;
	color: rgb(255, 232, 31);
}
div {
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	color: rgb(255, 232, 31);
	font-weight: bold;
}
.btn {
	margin: 20px;
	padding: 10px 20px;
	font-size: 18px;
	color: rgb(255, 232, 31);
	border: 1px solid rgb(255, 232, 31);
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgb(255, 232, 31);
	transition: 0.3s;
}
.btn:hover {
	color: rgb(255, 255, 255);
	background-color: #6b6a23;
}
.btn:active {
	border: none;
	scale: 0.95;
}
.error {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
	background-color: transparent;
	color:rgb(255, 232, 31);
	font-size: 30px;
	font-weight: bold;
}